.head-wrap{
    &.fixed{
        padding-bottom: 88px;
    }
    .top-head{
        height: 40px;
        display: flex;
        align-items: center;
        background: var(--4, #F6F6F6);
        .top-icons{
            display: flex;
            justify-content: space-between;
            //justify-content: flex-end;
            align-items: center;
            @media (max-width:992px){
                justify-content: flex-end;
            }
            .icons-wrap{
                display: flex;
                align-items: center;
                gap:24px;
                a{
                    display: flex;
                    align-items: center;
                    gap:8px;
                    color: var(--2, #282828);
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 106.8%;
                }
            }
        }
    }
}

header{
    background: #F85C3A;
    padding: 24px 0;
    position: relative;
    z-index: 999;
    height: 88px;
    margin-bottom: -1px;
    &.fixed{
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
    }
    .header-wrap{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo{
            color: var(--5, #FFF);
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: 106.8%;
            display: flex;
        }
        nav{
            display: flex;
            justify-content: flex-end;
            gap:40px;
            a{
                color: var(--5, #FFF);
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 106.8%; /* 17.088px */
            }
            @media (max-width:992px){
                display: none;
                position: fixed;
                left: 0;
                top: 88px;
                flex-direction: column;
                justify-content: flex-start;
                background: #F85C3A;
                width: 100%;
                height: calc(100% - 88px);
                z-index: 99;
                gap:0;
                &.opened{
                    display: flex;
                }
                a{
                    color: var(--5, #FFF);
                    font-size: 32px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 106.8%; 
                    padding: 40px 16px;
                    border-top:1px solid #fff;
                    border-bottom:1px solid #fff;
                }
            }
        }

        .mobile-menu-btn{
            display: none;
            @media (max-width:992px){
                display: flex;
            }
        }

    }
}